footer.footer.py-5
  .container
    .row
        .footer-text.col-12.col-md-4
          p Тел.: 8 (4725) 32-93-64
          p Факс: 8 (4725) 32-89-57
        .footer-text.col-12.col-md-4
          p Белгородская область, г. Старый Оскол, <br> м-н Солнечный, 18
          p Почтовый индекс: 309502
        .footer-text.col-12.col-md-4
          p E-mail: pedcolledge@bk.ru
        p.mt-4.mb-1.text-right © ОГАПОУ «Старооскольский педагогический колледж» 2021
