extends layout

block content
  h2.col-12.text-center.mt-5.mb-5.pt-5 Посетителям
  .container.min-h
    .row
      .col-12.col-md-8
        h3 Правила посещения
        ol.visitors-list
          li Настоящие правила являются обязательными к выполнению всеми лицами, находящимися на территории музея.
          li Музей открыт для посещения в дни и часы, установленные режимом работы. В режим работы музея могут вноситься изменения.
          li Посетители имеют право осуществлять осмотр постоянно экспозиций и/или выставок музея самостоятельно или в составе экскурсии.
          li Музей проводит групповые экскурсии для студентов колледжа и обучающихся других образовательных организаций Старооскольского городского округа. 
          li Экскурсией является осмотр постоянной экспозиции и/или выставок группой посетителей, сопровождающийся рассказом об экспонатах.
          li Посещение музея обучающихся других образовательных организаций Старооскольского городского округа проходят организованно группами с сопровождающими по предварительной договоренности с администрацией колледжа.
          li Количество посетителей при проведении экскурсий составляет 20 – 25 человек 
          li В музее в рамках времени, определенного режимом работы, возможно проведение учебных занятий продолжительностью не более 1,5 часов, а также индивидуальная работа обучающихся при выполнении курсовых работ, ВКР, учебных проектов и др.
          li Учебным занятием в музее является занятие преподавателя, осуществляющего образовательную деятельность со студентами или учениками по учебной программе.
          li Перед посещением музея необходимо сдать верхнюю одежду в гардероб, находящийся на I этаже здания педагогического колледжа, кроме того, в гардеробе следует оставить сумки, рюкзаки, пакеты и зонты.
          li Во время посещения музея посетители обязаны отключить или перевести в беззвучный режим средства связи. 
          li Посетители имеют право получать информацию о предметах музейной коллекции.
          li Осуществление фото- и видеосъемки посетителям музея допустимо по договоренности с педагогом-организатором, курирующим работу музея.
          li Посетителя Музея обязаны соблюдать настоящие Правила, общественный порядок и общепринятые этические нормы поведения.
          li Посетители, нарушающие установленный настоящими Правилами порядок, предупреждаются о нарушении, а при отказе прекратить нарушение могут быть удалены из музея.
          li В случае причинения материального ущерба музею (музейным предметам, интерьеру, техническим средствам) составляется акт, фиксирующий нанесение такого ущерба, на основании которого посетитель обязан возместить ущерб в сумме, установленной по результатам проведенной оценки независимой экспертной комиссией.
          li Посетители имеют право оставить отзыв о музее в книге отзывов и предложений.

      .col-12.col-md-4
        h3.work-time Режим работы музея
        ul.work-time
          li <span>ПН</span> 9:00-16:30 
          li <span>ВТ</span> 9:00-16:30 
          li <span>СР</span> 9:00-16:30 
          li <span>ЧТ</span> 9:00-16:30 
          li <span>ПТ</span> 9:00-16:30 
          li <span>СБ</span> Выходной  
          li <span>ВС</span> Выходной  
        ol.visitors-list
          li Обзорные экскурсии для учебных групп колледжа по графику с сентября по ноябрь
          li Для учащихся образовательных организаций города посещение музея с целью работы с экспонатами предусмотрено по средам, четвергам и пятницам с 12:00 до 16:00
  
        p.number По всем вопросам: <b>8(919)225-36-05</b>
